.BatchToolsMenu {
	&-container {
		background: $white;
		border-radius: 2px;
		box-shadow: 0 1px 4px 1px #999;
		cursor: pointer;
		left: 1em;
		padding: .125em;
		position: absolute;
		top: 1em;
		width: 40em;
		z-index: 10;
	}

	&-item {
		padding: .5em;

		&:hover {
			background-color: lighten(#cc092f, 25%);
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid #ccc;
		}
	}
}
