@mixin border($color, $width: $default-border-width, $style: solid) {
	border: {
		color: $color;
		style: $style;
		width: $width;
	}
}

@mixin border-bottom($color, $width: $default-border-width, $style: solid) {
	border-bottom: {
		color: $color;
		style: $style;
		width: $width;
	}
}

@mixin border-top($color, $width: $default-border-width, $style: solid) {
	border-top: {
		color: $color;
		style: $style;
		width: $width;
	}
}

@mixin border-right($color, $width: $default-border-width, $style: solid) {
	border-right: {
		color: $color;
		style: $style;
		width: $width;
	}
}

@mixin border-left($color, $width: $default-border-width, $style: solid) {
	border-left: {
		color: $color;
		style: $style;
		width: $width;
	}
}
