// yeah, this contains typographic params, but I'm tryna keep repeat selectors
// down to a bare minimum + don't wanna duplicate `body`
body {
	font-family: $body-font-family;
	font-size: $base-font-size;
	margin: $body-margin;
	z-index: 0;
}

main {
	// give the content some breathing room
	display: block;
	padding: 0 20px;
}

.hidden {
	display: none;
}
