// input elements
label {
	// color: lighten($black, 20%);
	display: block;
	font-family: $header-font-family;
	margin: .25rem 0;
}

input[type="text"],
input[type="number"],
textarea,
select {
	@include border(lighten($grey, 40%));
	font-size: 1em;
	width: inherit;

	@include transition(border-color);

	&:focus {
		border-color: $active-border-color;
		outline: none;
	}
  
  &:disabled {
		background-color: $muted-border-color;
		border-size: 1px;
		color: $grey;
		cursor: not-allowed;
	}
}

input[type="checkbox"] {
	$base-size: 15px;
	$selected-color: #00aaff;

	border: 1px solid #aaa;
	height: $base-size;
	outline: 0;
	cursor: pointer;
	width: $base-size;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	&:checked {
		background-color: $selected-color;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'><path d='M3 6 L5 10 L10 2' fill='transparent' stroke-width='2' stroke='#fff'/></svg>");
		border-color: $selected-color;
	}
}

::placeholder {
	color: lighten($grey, 30%);
}

input[type="text"],
input[type="number"],
select {
	line-height: 1.75em;
	padding: .25em;
}

textarea {
	min-height: 8em;
	padding: .5em .25em;
	resize: vertical;
}

fieldset {
	@include border($dark-blue);
}

@media (min-width: 975px) {
	.fieldset-group {
		display: table;
		width: 100%;
		table-layout: fixed;

		.fieldset {
			// @include border($dark-blue);
			display: table-cell;
			margin: 0 .5rem;

			ul {
				padding: 0;
			}

			li {
				list-style-type: none;
			}
		}
	}
}

/*
<div class="form-element-wrapper">
	<label>Label Name</label>
	<div class="form-element">
		<input type="text"/>
		<button class="remove-field-button">&ndash;</button>
	</div>
</div>
*/

.form-element-wrapper {
	$btn-width: 35px;
	$btn-offset: -($btn-width + 4px);

	@include clearfix;

	padding: 0 2rem 0 1rem;
	width: 100%;

	label {
		display: block;
		margin-left: -1rem;
	}

	input[type="text"],
	textarea {
		width: 100%;
	}

	.form-element {
		margin-bottom: 4px;
		position: relative;
	}

	.add-field-btn,
	.remove-field-btn {
		height: $btn-width;
		font-size: 1.2em;
		line-height: 0; // weird hack to center symbol
		margin: 0;
		width: $btn-width;
		vertical-align: middle;
	}

	.add-field-btn {
		// background-color: #8aedee;
		// border-color: darken(#8aedee, 20%);
		float: right;
		margin-right: $btn-offset;

		&:hover {
			background-color: darken(#8aedee, 20%);
			border-color: darken(#8aedee, 20%);
		}
	}

	.remove-field-btn {
		// background-color: #ffcccc;
		// border-color: darken(#ffcccc, 10%);
		position: absolute;
		right: $btn-offset;
		top: 0;

		&:hover {
			background-color: darken(#ffcccc, 10%);
			border-color: darken(#ffcccc, 10%);
		}
	}

	.copy-field {
		bottom: 0;
		left: -20px;
		margin: 0;
		outline: 0;
		position: absolute;
		top: 0;
	}

	select {
		background-color: transparent;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M0 0 L10 0 L5 8' fill='#888'/></svg>");
		background-position: 98% center;
		background-repeat: no-repeat;
		border-radius: 0;
		cursor: pointer;
		outline: none;
		min-width: 20em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:focus {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><path d='M0 0 L10 0 L5 8' fill='#{$theme-primary}'/></svg>");
		}
	}
}

.controlled-vocabulary {
	position: relative;

	input[type="text"] {
		margin-bottom: 2px;
		width: 100%;
	}
}

.controlled-vocabulary--overlay {
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: bold;
	position: absolute;
	right: .5rem;
	top: 15%;

	span, i {
		margin: 0 5px;
	}
}

.controlled-vocabulary--dropdown {
	background-color: $white;
	border: 1px solid $grey;
	box-shadow: 0 0 1px 1px #ccc;
	font-size: 1em;
	height: 20em;
	margin-top: 5px;
	overflow-y: scroll;
	padding: .25em .5em;
	position: absolute;
	width: 66%;
	z-index: 10;

	> div {
		padding: .5em;

		&.selected {
			background-color: lighten($light-blue, 25%);
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid $grey;
		}

		&:hover {
			background-color: lighten($light-blue, 35%);
		}
	}
	// arrow to connect dropdown input to dropdown div
	
	&::before {
		border: 10px solid transparent;
		border-bottom-color: $grey;
		content: "";
		display: block;
		height: 0;
		position: absolute;
		top: -20px;
		width: 0;
	}
}
