.label {
	background-color: #dedede;
	border-radius: 10px;
  color: #222;
	font-size: .90em;
	font-weight: 400;
  margin: 0 2px;
	padding: .35em .6em;
}

h1 .label,
h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label {
	font-size: .75rem;
	font-weight: normal;
	margin-left: 1em;
	vertical-align: middle;
}

.label-notice {
	background-color: #ffaa00;
	color: #a80000;
}

.label-success {
  background-color: #00dfaa;
  color: #060;
}

.label-warning {
  background-color: #ff1212;
  color: #feefee;
}

.label-info {
  background-color: #8aedee;
  color: #060;
}
