
#react-osd--viewer > div:nth-child(1) {

	> div:nth-child(2) {

		> div:nth-child(1) {

			display: inline !important;
			position: relative !important;
		}

		> div:nth-child(2) {

			display: inline !important;
			position: relative !important;

			> div:nth-child(1) {

				display: none !important;
			}
		}

		> div:nth-child(3) {

			display: block !important;
			position: relative !important;
		}
	}

	> div:nth-child(3) {

		> div:nth-child(1) {

			position: relative !important;
			width: 100%;

			> div:nth-child(1) {

				position: relative !important;
				float: right;

				> div:nth-child(2) {

					position: relative !important;
				}
			}
		}

		> div:nth-child(2) {

			position: relative !important;
			display: block !important;
		}
	}
}
