html {
	font-size: inherit;
}

body {
	background-color: #default-body-background-color;
	height: auto;
	margin: $default-body-margin;
	padding: 0;
}

@import "reset/typography";

@import "reset/input";
@import "reset/label";
