.search-form {
	padding: 0 5em;
}

.alert-searching {
	background-color: #deedee;
	border: 2px solid #9aa9aa;
	font-size: 1em;
	margin: auto;
	padding: .5em;
	width: 75%;
}

.search-results-header {
	margin-top: 0;
	text-align: center;

	pre {
		background-color: #efefef;
		border: 2px solid #cdcdcd;
		display: inline-block;
		font-weight: normal;
		margin-left: .5em;
		padding: 0 .125em;
	}
}

.taco-table {
	.row-highlight {
		background-color: #eee;
	}

	td {
		max-width: 25%;
	}



	td.search-result {
		&--thumbnail {
			width: 15%;
			
			img {
				width: 80%;
			}
		}

		&--thumbnail,
		&--collection,
		&--item {
			text-align: center
		}

		&--metadata {
			width: 50%;
		}
	}
}
