// styling for tabbed interfaces

// tab buttons are laid-out using @mdo's table-grid experiment
// https://mdo.github.io/table-grid

$tab-color: transparent;
$tab-border-color: $dark-blue;

.nav-tabs {
	display: table;
	font-family: $header-font-family;
	margin-top: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}

.tab-header,
.tab {
	display: table-cell;
	text-align: center;
}

.tab-header {
	background-color: $dark-blue;
	color: $white;
	font-weight: bold;
}

.tab {
	&.active {
		@include border-bottom($tab-border-color);
	}
}

.tab-header a,
.tab a {
	color: inherit;
	display: block;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	width: 100%;
}

.tab {
	@include transition(background-color);
	
	&:hover {
		background-color: #eee;
		outline: none;
	}
}

.tab-panel {
	display: none;

	&.active {
		display: block;
	}
}
