$default: rgba(239, 239, 239, 1);
$danger: rgba(145, 0, 41, 1);
$info: rgba(78, 168, 221, 1);
$success: rgba(87, 164, 88, 1);
$warning: rgba(231, 173, 92, 1);

$lafayette-light-blue: #4ea8d8;
$lafayette-dark-blue: #1d5f83;

$grey: #ccc;

$inactive: $grey;

$base-font-size: 14px;

$default-body-margin: 10px;

$default-border-width: 2px;
$default-border-radius: 2px;

// theming

$theme-primary: $lafayette-light-blue;

// input element border
$inactive-border-color: $inactive;

$muted-border-color: $inactive-border-color;
$active-border-color: $theme-primary;

