// vocabulary management styling
$vocab-list-width: 20em;
$vocab-list-item-padding: .5em;

/////////////////////////////////
.vocabulary-manager {
  padding: 1em;
  vertical-align: top;
  z-index: 1;
}

.vocabularies {
  border: 1px solid $border-color;
  box-shadow: 0 1px 1px 0 #999;
  display: inline-block;
  max-width: $vocab-list-width;
  margin: 0;
  margin-right: 10em;
  overflow-x: hidden;
}

.list-filter {
  background-color: #efefef;
  border-bottom: 1px solid $border-color;;
  padding: ($vocab-list-item-padding + .5em) $vocab-list-item-padding ;
  max-width: $vocab-list-width;
  z-index: 10;
  
  .filter {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><circle cx="18" cy="12" r="6" stroke-width="2" fill="transparent" stroke="#{$muted-border-color}" /><path d="M13,16L5,23" stroke-width="3" fill="transparent" stroke="#{$muted-border-color}" /></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 1.75em;
    padding: 0 30px 0 5px;
    transition: none;
    width: 100%;
    
    &:focus {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><circle cx="18" cy="12" r="6" stroke-width="2" fill="transparent" stroke="#{$active-border-color}" /><path d="M13,16L5,23" stroke-width="3" fill="transparent" stroke="#{$active-border-color}" /></svg>');
    }
  }
}

.vocab-list {
  display: inline-block;
  height: 30em;
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  vertical-align: top;
  width: $vocab-list-width;
  z-index: 5;
  
  li {
    cursor: pointer;
    margin: 0;
    padding: .5em;
    word-wrap: break-word;
    z-index: 5;
    
    a {
      color: #000;
      text-decoration: none;
    }
    
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
    
    &:hover {
      background-color: #ddd;
    }
  }
}

.term-count {
  color: #999;
  display: block;
  font-size: .75em;
  font-style: italic;
}
