.WorkHeader {
	&-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: .5em;
	}

	&-title {
		color: #1e1e1e;
		margin: 0;
	}

	&-status {
		color: #aaa;
		// this sets a min-width that will cause `.WorkHeader-title` to wrap
		// if the title is too long
		flex-basis: 25%;
		font-size: 1rem;
		margin: 0;
		text-align: right;
	}
}
